body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: hsla(0, 0%, 0%, 0.10);
    display: flex;
    margin: 0px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.weatherForm{
    margin: 20px;
}

.enterCity{
    font-size: 1.5rem;
    font-weight: bold;
    padding: 5px;
    border: 2px solid rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    margin: 10px;
    width: 300px;
}


.weatherForm button{
    font-size: 1.1rem;
    padding: 8px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    background-color: rgb(97, 176, 75);
    color: white;
    cursor: pointer;
}

.weatherForm button:hover{

    background-color: rgb(56, 156, 28);
    
}

.card{
    background: linear-gradient(180deg, rgb(117, 158, 253), rgb(248, 209, 136));
    padding: 50px;
    border-radius: 5px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.278);
    display: flex;
    min-width: 200px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cityName{
    margin: 0;
    margin-bottom: 25px;
    font-size: 2.5rem;
    color: hsl(0, 0%,20%);
}

.temperatureDisplay{
    margin: 0;
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 2.2rem;
    color: hsl(0, 0%,20%);
}

.humidityDisplay{
    font-size: 1.3rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.descDisplay{
    font-size: 1.3rem;
    font-weight: bold;
    font-style: italic;
}

.emojiDisplay{
    margin: 0;
    font-size: 4rem;
    font-weight: bolder;
    margin-bottom: 10px;
}

.errorDisplay{
    margin: 0;
    font-size: 1.5rem;
    font-weight: bold;
    color: hsl(0, 0%,20%);
}